@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  max-width: 1300px;
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

ol,
ul {
  list-style: none;
}

.header {
  padding: 26px 0;
}
.header .container {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr 3fr 5fr;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header .container .uk-margin {
  width: 100%;
}
.header .container .uk-margin form {
  width: 100%;
}
.header .container .uk-margin form .uk-search-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.header .container .dropnav .uk-subnav > li > a {
  color: #1c3554;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  text-transform: capitalize;
}
.header .container .header_link {
  color: #1c3554;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /* 200% */
  text-align: center;
}
.header .container .log-in {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.header .container .log-in button {
  width: 100%;
  padding: 8px 32px;
  border-radius: 8px;
  background: none;
  border: 1px solid #1c3554;
  color: #1c3554;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
  transition: 250ms;
}
.header .container .log-in button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid #f72585;
  background: #f72585;
}
.header .container .menu-btn {
  font-size: 25px;
  background: none;
  border: none;
  transition: 250ms;
  display: none;
}
.header .container .menu-btn:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.header .container .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header .container .user img {
  height: 48px;
  width: 48px;
}
.header .container .user p {
  color: #1c3554;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 171.429%;
}

@media (max-width: 1405px) {
  .header .container .log-in {
    display: flex;
    gap: 0;
  }
  .header .container .log-in button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .header .container .log-in button:nth-child(1) {
    border-radius: 8px 0 0 8px;
  }
  .header .container .log-in button:nth-child(2) {
    border-radius: 0px 8px 8px 0;
  }
}
@media (max-width: 1120px) {
  .header .container {
    grid-template-columns: 2fr 5fr 2fr 5fr;
  }
  .header .container .header_link {
    display: none;
  }
  .header .container .log-in button {
    padding: 8px;
  }
}
@media (max-width: 790px) {
  .header .container {
    grid-template-columns: 2fr 3fr 1fr;
    gap: 16px;
  }
  .header .container .log-in, .header .container .dropnav, .header .container .user, .header .container .log-out {
    display: none !important;
  }
  .header .container .menu-btn {
    display: block;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.hidden {
  display: none !important;
}

.menu {
  position: fixed;
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2.5px 2.5px rgb(202, 202, 202);
  right: 15px;
  z-index: 15;
  top: 15px;
}
.menu ul a {
  margin-left: 15px !important;
  color: #808080;
}
.menu ul a:hover {
  color: #636363;
}
.menu ul li:nth-child(1) {
  font-weight: 600;
  color: #000;
}
.menu > a {
  color: #1c3554;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /* 200% */
  text-align: center;
}
.menu .log-in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.menu .log-in button {
  border-radius: 8px 0 0 8px;
  border: 1px solid #1c3554;
  padding: 8px;
  background: none;
  transition: 250ms;
  font-weight: 500;
}
.menu .log-in button:hover {
  cursor: pointer;
  color: white;
  background: #f72585;
  border: 1px solid #f72585;
}
.menu .log-in button:nth-child(2) {
  border-radius: 0 8px 8px 0;
}
.menu .user {
  margin-top: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.menu .user img {
  height: 48px;
  width: 48px;
}
.menu .user p {
  color: #1c3554;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 171.429%;
}
.menu > button {
  border-radius: 8px;
  border: 1px solid #1c3554;
  padding: 8px;
  background: none;
  transition: 250ms;
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
}
.menu > button:hover {
  cursor: pointer;
  color: white;
  background: #f72585;
  border: 1px solid #f72585;
}

.login-menu {
  position: fixed;
  z-index: 15;
  right: 2.5%;
  top: 2.5%;
  background: white;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2.5px 2.5px 0 0 #bbbbbb;
}
.login-menu h1 {
  color: #1c3554;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
}
.login-menu input {
  padding: 8px;
  border: 2px solid #f72585;
  border-radius: 8px;
  outline: none;
  color: #1c3554;
  font-size: 16px;
  font-weight: 600;
}
.login-menu button {
  color: #1c3554;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #1c3554;
  font-size: 16px;
  font-style: normal;
  transition: 250ms;
  font-weight: 600;
}
.login-menu button:hover {
  cursor: pointer;
  border: 2px solid #f72585;
  background: #f72585;
  color: white;
}

.footer {
  margin-top: 160px;
  border-radius: 8px;
  background: #021934;
  padding: 80px 100px 40px 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}
.footer .top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 100px;
}
.footer .top p {
  color: white;
  margin-top: 36px !important;
  /* Paragraph/Reguler/Body - 16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer .top ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .top ul li {
  color: white;
}
.footer .top ul li a {
  color: white;
  /* Paragraph/Semibold/Body - 16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.footer .top ul li:nth-child(1) {
  /* Heading/Reguler/H5 - 24px */
  margin-bottom: 16px !important;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.footer .bot {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bot p,
.footer .bot a {
  color: #fff;
  text-align: center;
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer .bot p:nth-child(1) {
  display: flex;
  gap: 40px;
}

@media (max-width: 1000px) {
  .footer .top {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 888px) {
  .footer .bot {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 650px) {
  .footer {
    padding: 20px !important;
  }
  .footer .top {
    gap: 20px;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .top ul {
    border-radius: 8px;
    box-shadow: -2.5px -2.5px #021e3e;
    padding: 20px !important;
  }
}
@media (max-width: 430px) {
  .footer .bot p:nth-child(1) {
    display: flex;
    gap: 10px;
  }
  .footer .bot p {
    font-size: 12px;
  }
}
.path b {
  color: #1c3554;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.path b a {
  color: #808080;
}

.heading {
  color: #1c3554;
  /* Heading/Bold/H2 - 64px */
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.5%;
  margin-top: 24px !important;
}

.heading-p {
  color: #808080;
  width: 55%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 168.75%;
  margin-top: 24px !important;
}

@media (max-width: 765px) {
  .heading {
    font-size: 42px;
    margin-top: 12px !important;
    text-align: center;
  }
  .heading-p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 12px !important;
  }
}
@media (max-width: 505px) {
  .heading {
    font-size: 34px;
    margin-top: 8px !important;
  }
}
.courses-heading {
  color: #1c3554;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
  margin-top: 56px !important;
  margin-bottom: 32px !important;
}

@media (max-width: 615px) {
  .courses-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px !important;
  }
}
@media (max-width: 460px) {
  .courses-heading {
    font-size: 16px;
    margin-bottom: 0px !important;
  }
}
.pop-courses .cards .card {
  transition: 250ms;
  padding: 16px !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 8px;
}
.pop-courses .cards .card img {
  width: 100%;
}
.pop-courses .cards .card .type {
  align-self: center;
  width: auto;
  text-align: center;
  color: #fff;
  padding: 4px 24px;
  background: #4586d6;
  border-radius: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.pop-courses .cards .card .cost {
  margin-top: 22px;
  color: #1c3554;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.pop-courses .cards .card .cost del {
  color: var(--text-in-field, #ccc);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.pop-courses .cards .card h3 {
  color: #1c3554;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.pop-courses .cards .card p {
  color: var(--primary-pink, #f72585);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 200% */
}
.pop-courses .cards .card ul {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.pop-courses .cards .card ul li {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.topics {
  margin-top: 160px;
}
.topics .top {
  display: flex;
  justify-content: space-between;
}
.topics .top h1 {
  color: #1c3554;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.3%;
}
.topics .top a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  padding: 16px 124px !important;
  border-radius: 8px;
  background: #f72585;
}
.topics .cards {
  margin-top: 58px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.topics .cards .card {
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  padding: 40px;
}
.topics .cards .card h2 {
  color: white;
  text-align: center;
  /* Heading/Bold/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
}

@media (max-width: 1060px) {
  .topics .top h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .topics .top a {
    padding: 10px 60px !important;
  }
  .topics .cards {
    margin-top: 35px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .topics .top h1 {
    font-size: 16px;
  }
  .topics .top a {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 8px 30px !important;
  }
  .topics .cards {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}
.courses {
  margin-top: 160px;
}
.courses .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses .top h1 {
  color: #1c3554;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.courses .top .btns {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.courses .top .btns button,
.courses .top .btns a,
.courses .top .btns label {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: #fff5f9;
  padding: 16px 40px !important;
  color: #f72585;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
  transition: 250ms;
}
.courses .top .btns button .icon,
.courses .top .btns a .icon,
.courses .top .btns label .icon {
  width: 24px;
  height: 24px;
  background: url(./../imgs/dashboard.svg);
  transition: 250ms;
}
.courses .top .btns button:hover,
.courses .top .btns a:hover,
.courses .top .btns label:hover {
  cursor: pointer;
  color: white;
  background: #f72585;
}
.courses .top .btns button:hover .icon,
.courses .top .btns a:hover .icon,
.courses .top .btns label:hover .icon {
  background: url(./../imgs/dashboard-white.svg);
  transform: rotateZ(180deg);
}
.courses #open-filter:checked ~ .main {
  grid-template-columns: 1fr 3fr;
}
.courses #open-filter:checked ~ .main .filter {
  transform: scaleX(1);
  position: static;
}
.courses #open-filter:checked ~ .main .cards {
  grid-template-columns: repeat(3, 1fr);
}
.courses #open-filter {
  display: none;
}
.courses .main {
  display: grid;
  grid-template-columns: 4fr;
  margin-top: 56px;
}
.courses .main .filter {
  position: absolute;
  border-right: 1px solid #ccc;
  padding: 0 34px;
  transform: scaleX(0);
  transition: 250ms;
}
.courses .main .filter > ul > li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px !important;
  padding-bottom: 32px !important;
}
.courses .main .filter > ul > li > a {
  color: #1c3554;
  /* Heading/Bold/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.courses .main .filter > ul > li .uk-accordion-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.courses .main .filter > ul > li .uk-accordion-content label {
  display: flex;
  gap: 8px;
}
.courses .main .filter > ul > li .uk-accordion-content label ul {
  display: flex;
  gap: 2px;
}
.courses .main .filter > ul > li .uk-accordion-content label p {
  color: #1c3554;
  /* Paragraph/Semibold/Caption - 14px */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.courses .main .filter > ul > li .uk-accordion-content label p span {
  color: #808080;
}
.courses .main .filter > ul > li .uk-accordion-content input {
  border: 2px solid #ccc;
  outline: none;
  text-align: center;
  border-radius: 2px;
}
.courses .main .filter > ul > li .price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.courses .main .filter > ul > li .price input {
  width: 100%;
}
.courses .main .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.courses .main .cards .card {
  transition: 250ms;
  padding: 16px !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 8px;
}
.courses .main .cards .card img {
  width: 100%;
}
.courses .main .cards .card .type {
  align-self: center;
  width: auto;
  text-align: center;
  color: #fff;
  padding: 4px 24px;
  background: #4586d6;
  border-radius: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.courses .main .cards .card .cost {
  margin-top: 22px;
  color: #1c3554;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.courses .main .cards .card .cost del {
  color: var(--text-in-field, #ccc);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.courses .main .cards .card h3 {
  color: #1c3554;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.courses .main .cards .card p {
  color: var(--primary-pink, #f72585);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 200% */
}
.courses .main .cards .card ul {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.courses .main .cards .card ul li {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.courses .main .cards .card:hover {
  z-index: 5;
  box-shadow: 40px 40px 57px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1075px) {
  .courses #open-filter:checked ~ .main {
    grid-template-columns: 1fr 2fr;
  }
  .courses #open-filter:checked ~ .main .cards {
    grid-template-columns: 1fr 1fr;
  }
  .courses .main {
    grid-template-columns: 1fr;
  }
  .courses .main .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 895px) {
  .courses .main {
    grid-template-columns: 1fr;
  }
  .courses .main .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .courses #open-filter:checked ~ .main {
    grid-template-columns: 1fr 1fr;
  }
  .courses #open-filter:checked ~ .main .cards {
    grid-template-columns: 1fr;
  }
  .courses .main {
    grid-template-columns: 1fr;
  }
  .courses .main .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 725px) {
  .courses .top h1 {
    font-size: 30px;
  }
  .courses .top .btns {
    gap: 10px;
  }
  .courses .top .btns button,
  .courses .top .btns a,
  .courses .top .btns label {
    padding: 8px 20px !important;
  }
}
@media (max-width: 540px) {
  .courses #open-filter:checked ~ .main {
    grid-template-columns: 1fr;
  }
  .courses .main {
    margin-top: 10px;
    grid-template-columns: 1fr;
  }
  .courses .main .filter {
    width: 100%;
    border: none;
    padding: 16px;
  }
  .courses .main .cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .courses .top h1 {
    font-size: 26px;
  }
  .courses .top .btns {
    gap: 10px;
    flex-direction: column;
  }
  .courses .top .btns button,
  .courses .top .btns a,
  .courses .top .btns label {
    width: 100%;
    padding: 8px 20px !important;
  }
}/*# sourceMappingURL=style.css.map */